@import 'layouts/grid',
'layouts/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Open-Sans';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    min-height: 700px;
    background: $white;
    padding-top: 30px;
    padding-bottom: 50px;

    &__nav {
        z-index: 10;
        background: $black;
        height: 90px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        display: flex;
        align-items: center;

        &-btn {
            font-size: 35px;
            color: #e0e0e0;
            transform: rotate(-225deg);
            width: 90px;
            height: 90px;
            align-items: center;
            justify-content: center;
            display: none;
            transition: 1s;

            &.down {
                transform: rotate(-45deg);
            }
        }

        &-help {
            display: none;
            font-size: 14px;
            color: #e0e0e0;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &__list {
        display: flex;
        margin: 0 auto;
        height: 100%;
        width: max-content;
    }

    &__link {
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
        text-transform: uppercase;
        color: #e0e0e0;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
    }

    &__link.active {
        background: $red;
    }

    &__content {
        margin-top: 100px;
    }

    &__title {
        font-weight: 800;
        color: black;
        font-size: 60px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__text {
        line-height: 28px;
        color: black;
        opacity: .7;
        margin-bottom: 60px;
    }

    &__button {
        background: $red;
        height: 55px;
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        border-radius: 4px;
    }

    &__video {
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        transition: 0.5s;
    }
}

.services {
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px #ececec solid;

    &__text {
        color: black;
        line-height: 28px;
        margin-bottom: 60px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 55px;
        border: 2px $red solid;
        border-radius: 4px;
        font-size: 18px;
        color: $red;
    }
}

.section-title {
    font-weight: bold;
    color: black;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 100%;
    width: max-content;
}

.card {
    margin-bottom: 50px;

    &__title {
        font-weight: 600;
        opacity: .7;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    &__text {
        font-size: 16px;
        opacity: 0.7;
        line-height: 28px;
    }
}

.line {
    width: 130px;
    height: 2px;
    background: $red;
}

.products {
    padding-top: 100px;

    &__text {
        line-height: 28px;
        text-align: center;
        opacity: .7;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    &__list {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        margin-top: 90px;
        margin-bottom: 70px;
    }

    &__link {
        color: black;
        opacity: 0.7;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        transition: 0.5s;

        &.active {
            color: $red;
            opacity: 1;
        }
    }

    &__elements {
        width: 100%;
        display: grid;
        grid-auto-rows: 300px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        transition: 1s;
    }

    &__item {
        width: auto;
        min-height: 300px;

        &:first-child {
            grid-column: 1/span 2;
            grid-row: 1 / span 2;
        }
    }


    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team {
    padding-top: 140px;

    &__text {
        line-height: 28px;
        opacity: 0.7;
        color: black;
        margin-bottom: 40px;
    }

    &__workers {
        margin-top: 70px;

        &-big {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

        &-name {
            font-weight: 600;
            color: black;
            font-size: 30px;
            opacity: .8;
            margin-bottom: 35px;
            text-transform: uppercase;
        }

        &-info {
            opacity: .7;
            line-height: 28px;
            color: black;
            margin-bottom: 45px;
        }

        &-list {
            display: flex;

        }

        &-link {
            font-style: italic;
            font-size: 18px;
            color: black;
            opacity: .8;
            margin-right: 30px;
        }

        &-images {
            margin-top: 70px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__worker {
        position: relative;
        height: 225px;
        width: 23%;

        &-image {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }

        &-name {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: max-content;
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: white;
            font-size: 18px;
            background: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            opacity: 0;
            transition: 1s;
        }

        &:hover .team__worker-name {
            opacity: 1;
        }
    }
}

.subscribe {
    margin-top: 110px;
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    backdrop-filter: grayscale(50) blur(3px);

    &__bg {
        background: url(../images/subscribe_bg.jpg) center/cover no-repeat;
        background-attachment: fixed;
    }

    &__title {
        color: white;
        font-weight: bold;
        font-size: 42px;
        margin-bottom: 41px;
        text-align: center;
    }

    &__description {
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__input {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 35px;
        padding-left: 35px;
        background: white;
        margin-right: 20px;
        border: none;
        width: 100%;
        max-width: 520px;
        border-radius: 4px;

        &::placeholder {
            color: #2c2c2c;
            font-size: 16px;

        }
    }

    &__btn {
        font-weight: bold;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 4px;
        background: #ff2d2d;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 215px;
        border: none;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.get {
    padding-top: 100px;
    padding-bottom: 100px;

    &__text {
        color: black;
        line-height: 28px;
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0.7;
    }

    &__form {
        margin-top: 80px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__input {
        width: 45%;
        background: #e5e5e5;
        padding: 30px 50px;
        border-radius: 10px;
        color: black;
        border: none;

        &::placeholder {
            color: black;
            letter-spacing: 2px;
            font-size: 18px;
            opacity: .7;
            text-transform: capitalize;
        }
    }

    &__textarea {
        width: 100%;
        padding: 30px 50px;
        border-radius: 10px;
        background: #e5e5e5;
        resize: none;
        height: 250px;
        color: black;
        font-family: 'Open-Sans';
        border: none;

        &::placeholder {
            color: black;
            letter-spacing: 2px;
            font-size: 18px;
            opacity: .7;
            text-transform: capitalize;
        }
    }

    &__btn {
        background: #ff3b3b;
        font-weight: bold;
        font-size: 18px;
        color: white;
        letter-spacing: 2px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        border: none;
        margin-top: 45px;
        border-radius: 10px;
    }

    &__info {
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &::before {
            content: " ";
            width: 50vw;
            height: 100%;
            position: absolute;
            left: 0%;
            top: 0;
            background: #2d2d2d;
        }

        &-title {
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            font-style: 18px;
            margin-bottom: 40px;
            opacity: .8;
        }

        &-link {
            color: white;
            margin-bottom: 30px;
            opacity: .8;
            line-height: 28px;
        }
    }
}

.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #313030;    
    
    &__text{
        color: #b8b8b8;
    }
    
    &__link{
        height: 33px;
        width: 33px;
        border-radius: 100%;
        background: #ebebeb;
        color: #313030;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        position: relative;
        font-size: 20px;
        
        &-twitter::before{
            font-family: 'Font-Awesome';
            content: '\f099';
        }
        &-facebook::before{
            font-family: 'Font-Awesome';
            content: '\f39e';
        }
        &-linkedin::before{
            font-family: 'Font-Awesome';
            content: '\f0e1';
        }
        &-googleplus::before{
            font-family: 'Font-Awesome';
            content: '\f0d5';
        }
    }
}





@import 'media';