@mixin grid ($types...) {
    @each $size in $types {
        $gridSize: 0;

        @if $size==1200 {
            $gridSize: xl;
        }

        @else if $size==992 {
            $gridSize: lg;
        }

        @else if $size==768 {
            $gridSize: md;
        }

        @else if $size==576 {
            $gridSize: sm;
        }

        @if $size>0 {
            @for $i from 1 through 12 {
                @media (min-width:#{$size}px) {
                    .col-#{$gridSize}-#{$i} {
                        width: calc(100%/12*#{$i});
                        padding: 0 15px;
                    }
                }
            }
        }

        @else {
            @for $i from 1 through 12 {
                .col-#{$i} {
                    width: calc(100%/12*#{$i});
                    padding: 0 15px;
                }
            }
        }
    }
}

@include grid(1200, 992, 768, 576, 0)